BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
PointerAlignment: Right
ReferenceAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Attach
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
